@import '~antd/dist/antd.css';
*{
    box-sizing: border-box;
}
.alertManagement{
    padding: 10px 10px 40px 10px;
    background-image: url('../../assets/images/bg.png');
    min-height: 100vh;
}
table {
    width: 100%;
    margin: 10px auto;
    color: aliceblue;
    text-align: center;
    border: 1px solid white;
}
th, td {
    border: 1px solid white;
}
button {
    color: black;
}
select{
    color: black;
}
label{
    color: aliceblue;
    padding: 10px;
}
.pagination{
    margin-bottom: 10px;
    float: right;
    margin-right: 15px;
}
.ant-pagination-total-text{
  color: aliceblue;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.col-3{
    display: inline-block;
    padding: auto;
}
.row{
    margin: unset;
}