@import '~antd/dist/antd.css';
*{
    box-sizing: border-box;
}
.alertManagement{
    padding: 10px 10px 40px 10px;
    background-image: url('../../assets/images/bg.png');
    min-height: 100vh;
}
.ReactTable {
    height: 95vh !important;
}
.ReactTable .rt-thead {
    // overflow: initial !important;
}
  
.rt-table {
    // width: 100%;
    margin: 10px auto;
    color: aliceblue;
    text-align: center;
    border: 1px solid white;
    .rt-thead{
        .rt-tr{
            .rt-th{
                border: 1px solid white;
            }
        }
    }
    .rt-tbody{
        .rt-tr{
            .rt-td{
                border: 1px solid white;
            }
        }
    }
}

table {
    width: 100%;
    margin: 10px auto;
    color: aliceblue;
    text-align: center;
    border: 1px solid white;
}
th, td {
    border: 1px solid white;
}
button {
    color: black;
}
select{
    max-width: 150px;
    min-width: 150px;
    color: black;
}
label{
    width: 100px;
    color: aliceblue;
    padding: 10px;
}
.pagination{
    margin-bottom: 10px;
    float: right;
    margin-right: 15px;
}
.ant-pagination-total-text{
  color: aliceblue;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.col-3{
    display: inline-block;
    // padding: 0 50px 0 0 ;
    // text-align: right;
}
.col-3 input{
    max-width: 150px;
}
.row{
    margin: unset;
}
.searchComponent{
    margin: 0 25px;
    text-align: unset!important;
}
.search-container input{
    margin: unset;
    padding: 5px;
    width: 70.5%;
}