.chart {
  box-shadow: 0px 0px 10px #6b9fda;
  background: linear-gradient(to right, #53a3ce 2px, transparent 2px) 0 0,
    linear-gradient(to right, #53a3ce 2px, transparent 2px) 0 100%,
    linear-gradient(to left, #53a3ce 2px, transparent 2px) 100% 0,
    linear-gradient(to left, #53a3ce 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, #53a3ce 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, #53a3ce 2px, transparent 2px) 100% 0,
    linear-gradient(to top, #53a3ce 2px, transparent 2px) 0 100%,
    linear-gradient(to top, #53a3ce 2px, transparent 2px) 100% 100%;
    
  background-repeat: no-repeat;
  background-size: 10px 10px;
  width: 100%;
  .recharts-text {
    tspan {
      fill: #b2b2b2;
    }
  }
}
.title-chart {
  text-align: center;
  color:rgba(255, 255, 255, 0.685);
  font-size: 17px;
  font-weight: bold;
}
